
/* MODAL */
div.blank{
	position: fixed;
	z-index: 999;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,.6);
	visibility: hidden;
	opacity:0;
	transition: 0.3s;
	pointer-events: none;
} 
img.cancel{
	position: fixed;
	width: 70px;
	height: 70px;
	right:3%;
	top:3%;
	z-index: 99999;
	pointer-events:all;
	transition: 0.2s;
} 
.container{
	width: 90%;
	height:auto;
	margin: 50px auto;
	position: relative;
	pointer-events: all;
	display: flex;
	flex-wrap: wrap;
	z-index:-1;
	justify-content: space-between;
} 

.container div.kotak{
	width: 21%;
	height: 170px;
	background-color: dodgerblue;
	border-radius: 10px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	margin-top: 80px;
	position: relative;
} 

.container div.kotak h3{
	font-size: 5em;
} 

.container div.kotak h4{
	position: absolute;
	top:82%;
	left:50%;
	letter-spacing:3px;
	transform: translate(-50%,-50%);
	font-size:2em;
	opacity:0.5;
	text-transform: uppercase;
} 

section.animfixed{
	position: fixed;
	left:50%;
	top:50%;
	width: 90%;
	height: 90%;
	transform: translate(-50%,-50%);
	z-index: 999;
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);
} 


/*TITLE*/
section.title{
	padding: 50px 70px;
	font-size: 4.6em;
	font-weight: bold;
	color: #333;
	letter-spacing:5px;
	display: none;
} 

/*MYFOTO*/
section.myfoto {
	margin: 0 0 150px;
	display: none;
} 

html,
body{
    position: relative;
    height: 100%;
  }

  .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    pointer-events: all;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .gallery-top {
    height: 78%;
    width: 95%;
    filter: brightness(0.8);
  }

  .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  /*SWIPER2*/
  
 section.myfoto2{
 	height: 45vh;
 	display: none;
} 
  
  .swiper-container2 {
  width: 100%;
  height: 90%;
  padding-bottom: 100px;
  }
  
  .swiper-size{
 	 width: 520px;
  }
  
  
/*SECTION qotes*/


section.quotes{
	display: block;
	padding:50px;
} 
section.quotes h2{
	margin-top:60px;
	font-size: 2.2em;
	font-weight:500;
} 
section.quotes h2.left{
	text-align: left;
	margin-right: 30%;
} 
section.quotes h2.right{
	text-align: right;
	margin-left: 30%;
} 


.navbar{
	position: fixed;
	width: 100%;
	top:0;
	left:0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
	height: 8vh;
	pointer-events: all;
	transition: 0.4s all;
} 
.navbar h1{
	font-size: 5.5em;
	color: white;
	font-weight: bold;
	letter-spacing: 10px;
	transition: 0.5s;
} 
.navbar h1.active{
	transform: translatex(350px);
} 
.navbar.active {
	background-color: royalblue;
	height: 10vh;
	box-shadow: 0 2px 15px rgba(0,0,0,0.3);
} 

.navbar .box {
	position:relative;
	width: 100px;
	height:90px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	z-index: 9999;
	transition: 0.5s all ease;
}  

.navbar .box span{
	display: block;
	width: 100px;
	height: 7px;
	background-color: white;
	border-radius: 3px;
	transition: 0.5s ease;
} 

.navbar .box input {
	position: absolute;
	width: 100%;
	height:100%;
	z-index:100;
	opacity:0;
} 

/*.navbar .box span:nth-child(2) {
	transform-origin: 0 0;
} 
.navbar .box input:checked ~ span:nth-child(2){
	transform: rotate(45deg) translate(4px, -9px);
} 

.navbar .box input:checked ~ span:nth-child(3){
	transform: translatex(100px);
	opacity:0;
} 


.navbar .box span:nth-child(4) {
	transform-origin: 0 100%;
} 
.navbar .box input:checked ~ span:nth-child(4){
	transform: rotate(-45deg) translate(5px, 9px);
} 
*/

.navbar .box span:nth-child(2) {
	transform-origin: 0 0;
} 
.navbar .box.active span:nth-child(2){
	transform: rotate(45deg) translate(4px, -9px);
} 

.navbar .box.active span:nth-child(3){
	transform: translatex(100px);
	opacity:0;
} 


.navbar .box span:nth-child(4) {
	transform-origin: 0 100%;
} 
.navbar .box.active span:nth-child(4){
	transform: rotate(-45deg) translate(5px, 9px);
} 



.navbar .nav{
	position: fixed;
	top:0;
	left:-100%;
	width: 50%;
	height: 130%;
	background-color: royalblue;
	padding-top: 50px;
	transition: 0.4s all;
	z-index: 99;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
} 

.navbar .nav.active {
	left:0;
} 
.navbar .box.left{
	transform: translatex(465px);
} 
.navbar .nav ul {
	position: relative;
	top:0;
	left:0;
	width: 100%
	text-align: center;
} 

.navbar .nav ul h1{
	text-align: center;
	color: white;
	margin-top: -20px;
	font-weight: bold;
	font-size: 6em;
	letter-spacing: 6px;
	margin-bottom: 10px;
} 
.navbar .nav ul li {
	width: 100%;
	font-size: 2.8em;
	font-family: 'Roboto', sans-serif;
	padding: 15px 20px;
	list-style: none;
	letter-spacing: 5px;
	background-color: white;
	margin: 5px 20px;
	border-radius: 5px;
} 
.navbar .nav ul li a {
	color: dodgerblue;
	text-decoration: none;
	font-weight: 800;
} 